<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WgcConsoleTeste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="ConnectionString" value="Password=P@ssw0rd;Persist Security Info=True;User ID=wgcapp;Initial Catalog=WGCCMT;Data Source=WGCSERVERSQL02" />-->
    <add key="ConnectionString" value="Password=P@ssw0rd;Persist Security Info=True;User ID=wgcApp;Initial Catalog=WGC_BLINK;Data Source=WGCSERVERSQL01" />
    <add key="ArquivoCriptografia" value="wgc.key" />
    <add key="enderecosEmailErro" value="daniel@wgcsistemas.com.br" />
    <add key="intervaloSegundos" value="15" />
    <add key="intervaloSegundosStatusEnvio" value="15" />
    <add key="urlBFT" value="http://api.brasilfone.com.br" />
    <add key="usernameBFT" value="wgcsistemas" />
    <add key="passwordBFT" value="wgcsms123" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <applicationSettings>
    <WgcConsoleTeste.Properties.Settings>
      <setting name="WgcConsoleTeste_wsAutomacao_wsAutomacao" serializeAs="String">
        <value>http://localhost/WgcWS/wsAutomacao.asmx</value>
      </setting>
      <setting name="WgcConsoleTeste_wsBoleto_wsBoleto" serializeAs="String">
        <value>http://localhost/WgcWS/wsBoleto.asmx</value>
      </setting>
      <setting name="BusinessRules_br_gov_bcb_www3_FachadaWSSGSService" serializeAs="String">
        <value>https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS</value>
      </setting>
    </WgcConsoleTeste.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IsvcWgcSms" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="FachadaWSSGSSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="FachadaWSSGSSoapBinding1" />
        <binding name="BasicHttpBinding_IsvcZeus" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sms.wgcsistemas.com.br/WGC.SMS.Service.Web/svcWgcSms.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsvcWgcSms" contract="WGC.SMS.Service.Contract.Services.IsvcWgcSms" name="endpointSms" />
      <endpoint address="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS" binding="basicHttpBinding" bindingConfiguration="FachadaWSSGSSoapBinding" contract="wsCambioBancoCentral.FachadaWSSGS" name="FachadaWSSGS" />
      <endpoint address="http://localhost/WGC.Zeus.Service/svcZeus.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsvcZeus" contract="svcZeus.IsvcZeus" name="BasicHttpBinding_IsvcZeus" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="WGCEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.14;initial catalog=WGC;user id=wgcapp;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Boleto.Net" publicKeyToken="53630c3583b7ed5c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.24.104" newVersion="2.0.24.104" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
